.tachado
{
    text-decoration: line-through;
    color: gray;
   
}

.centrado{
    text-align: center;
}

#p1 {
    opacity:0.7;
    margin: 11%;
    text-align: center;
    border-style: double;
    padding: 1%;
    -moz-border-radius: 9px;
    -webkit-border-radius:9px;
    background-color: rgb(180, 180, 180);
}

#p2 {
    opacity:0.7;
    margin: center;
    text-align: left;
    font-size-adjust: inherit;
    font-size: 12px;
    border-style: double;
    padding: 1%;
    width: 20%;
    height: 90px;
    -moz-border-radius: 9px;
    -webkit-border-radius:9px;
    background-color: rgb(160, 160, 160);
}

#p3 {
    opacity:0.7;
    margin: 1% 11%;
    text-align: left;
    border-style: double;
    padding: 1%;
    -moz-border-radius: 9px;
    -webkit-border-radius:9px;
    background-color: rgb(180, 180, 180);
}

body {
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQyV_5UcCbth8IlCiGkgwtkgyGy4XpES2KSVNzQa_XCLOFyuFzUmQ&s');
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: 100% 100%;
  }